development:
  adapter: mysql2
  database: crb_development
  pool: 5
  timeout: 5000
  user: 
  password: 

test:
  adapter: mysql2
  database: crb_test
  pool: 5
  timeout: 5000
  user: 
  password: 

