= simple_form_for resource do |f|
  = f.input :title, label: "Заголовок"
  = f.input :content, label: "Содержание"
  = form_actions f, resource.persisted? ? 'Изменить объявление' : 'Подать объявление'
